<ion-app>

<ion-menu contentId="menu-content" menuId="menu-content"  class="my-custom-menu"  >

  <ion-header >
  
  </ion-header>

  <ion-content>
   

    <div  class="menu-header-bg"></div>
    <div class="header-content">
      <img src="assets/image/train-logo.png" alt="">
        <label>
          <h2>Train Status</h2>
        </label>
       </div>


<ion-list lines="none" class="menu-item" width="200" >


   <ion-item (click)="share_with_all_option()" >
    <img src="assets/icon/share.png" alt="">
      <ion-label>Share App</ion-label>
    </ion-item>


    <ion-item class="active" ion-item href="https://play.google.com/store/apps/details?id=com.trv.trainstatus" target="_blank">
      <img src="assets/icon/rating.png" alt="">
      <ion-label>Rate us</ion-label>
    </ion-item>

    <ion-item  ion-item href="https://sites.google.com/view/train-pnr/home" target="_blank">
      <img src="assets/icon/security.png" alt="">
      <ion-label>privacy & policy</ion-label>
    </ion-item>




    <ion-item ion-item href="https://sites.google.com/view/train-pnr/contact?authuser=0" target="_blank">
      <img src="assets/icon/contact.png" alt="" >
      <ion-label>contact us</ion-label>
    </ion-item>
 
  </ion-list>

  </ion-content>
</ion-menu>





  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>
